In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [9]:
df=pd.read_csv('wine_data.csv',header=None, usecols=[0,1,2])
df.columns=['Class_labels','Alchohols','Maelic acid']
df

     Class_labels  Alchohols  Maelic acid
0               1      14.23         1.71
1               1      13.20         1.78
2               1      13.16         2.36
3               1      14.37         1.95
4               1      13.24         2.59
..            ...        ...          ...
173             3      13.71         5.65
174             3      13.40         3.91
175             3      13.27         4.28
176             3      13.17         2.59
177             3      14.13         4.10

[178 rows x 3 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(df.drop('Class_labels',axis=1),df['Class_labels'], test_size=0.3, random_state=0)

In [13]:
scaler=MinMaxScaler()
scaler.fit(x_train)
x_train_scaled=scaler.transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [15]:
x_train_scaled=pd.DataFrame(x_train_scaled ,columns=x_train.columns)
x_test_scaled =pd.DataFrame(x_test_scaled ,columns=x_test.columns)

In [17]:
lr=LogisticRegression(max_iter=1000)
lr_scaled=LogisticRegression(max_iter=1000)

In [21]:
lr.fit(x_train, y_train)
lr_scaled.fit(x_train_scaled, y_train)

# Predict
y_pred = lr.predict(x_test)
y_pred_scaled = lr_scaled.predict(x_test_scaled)

# Evaluate
print("Without scaling:", accuracy_score(y_test, y_pred))
print("With scaling   :", accuracy_score(y_test, y_pred_scaled))

Without scaling: 0.7592592592592593
With scaling   : 0.7962962962962963