In [2]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier

In [10]:
df=pd.read_csv('train (1).csv')

In [29]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [181]:
x_train, x_test, y_train, y_test= train_test_split(df.drop('Survived',axis=1),df['Survived'], test_size=0.2, random_state=42)

In [183]:
si_age = SimpleImputer()                              #to fill missing values in age by mean
si_embarked = SimpleImputer(strategy='most_frequent')  #to fill missing values in Embarked by most frequent

x_train_age = si_age.fit_transform(x_train[['Age']])                # transforms in a numpy array
x_train_embarked = si_embarked.fit_transform(x_train[['Embarked']])

x_test_age = si_age.transform(x_test[['Age']])                      #fills the missing values
x_test_embarked = si_embarked.transform(x_test[['Embarked']])

In [185]:
ohe_sex = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
ohe_embarked = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

x_train_sex = ohe_sex.fit_transform(x_train[['Sex']])
x_train_embarked = ohe_embarked.fit_transform(x_train_embarked)

x_test_sex = ohe_sex.transform(x_test[['Sex']])
x_test_embarked = ohe_embarked.transform(x_test_embarked)

In [187]:
x_train_rem = x_train.drop(columns=['Sex', 'Age', 'Embarked'])

x_test_rem = x_test.drop(columns=['Sex', 'Age', 'Embarked'])

x_train_transformed = np.concatenate((x_train_rem,x_train_age,x_train_sex,x_train_embarked),axis=1)
x_test_transformed = np.concatenate((x_test_rem,x_test_age,x_test_sex,x_test_embarked),axis=1)

In [189]:
clf=DecisionTreeClassifier()
clf.fit(x_train_transformed,y_train)
y_pred=clf.predict(x_test_transformed)

In [191]:
from sklearn.metrics import accuracy_score

In [193]:
accuracy_score(y_test,y_pred)

0.7932960893854749

In [205]:
import pickle
import os
pickle.dump(ohe_sex,open(r'C:\Users\gadit\machine learning campusx\Feature Enginering\Pipelines\ohe_sex.pkl', 'wb'
))
pickle.dump(ohe_embarked,open(r'C:\Users\gadit\machine learning campusx\Feature Enginering\Pipelines\ohe_embarked.pkl', 'wb'))
pickle.dump(clf,open(r'C:\Users\gadit\machine learning campusx\Feature Enginering\Pipelines\clf.pkl', 'wb'))