In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df=pd.read_csv('cars.csv')

In [46]:
df['brand'].value_counts()
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [7]:
df3=pd.get_dummies(df,columns=['fuel','owner'],drop_first=True,dtype=int)     #get dummy variables using pandas drop_first=True drops first column to avoid Dummy variable trap

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(df.iloc[:,0:4],df.iloc[:,-1], test_size=0.2)

In [11]:
ohe = OneHotEncoder(drop='first', sparse_output=False, dtype=np.int32)
#sparse lets ohe to create dataframe during transformation otherwise it will be an array

In [13]:
x_train_new=ohe.fit_transform(x_train[['fuel','owner']])

In [15]:
x_test_new=ohe.fit_transform(x_test[['fuel','owner']])

In [17]:
np.hstack((x_train[['brand','km_driven']].values,x_train_new)).shape

(6502, 9)

In [19]:
counts=df['brand'].value_counts()

In [21]:
df['brand'].nunique()
t=100

In [23]:
replac=counts[counts<=100].index

In [25]:
df2=pd.get_dummies(df['brand'].replace('replac','uncommon'),dtype=int)

In [28]:
df4 = pd.concat([df3.drop(columns=['brand']), df2], axis=1)
df4.head()

,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner,Ambassador,...,Mitsubishi,Nissan,Opel,Peugeot,Renault,Skoda,Tata,Toyota,Volkswagen,Volvo
0,145500,450000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,120000,370000,1,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,140000,158000,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,127000,225000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,120000,130000,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
df4.shape

(8128, 41)

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Set target and features
target = df4['selling_price']
features = df4.drop(columns=['selling_price'])

# Split data
x_train2, x_test2, y_train2, y_test2 = train_test_split(features, target, test_size=0.2, random_state=42)

# Train model
model = LinearRegression()
model.fit(x_train2, y_train2)

# Predict
y_pred = model.predict(x_test2)

# Evaluate
print("Mean Squared Error (MSE):", mean_squared_error(y_test2, y_pred))
print("R² Score:", r2_score(y_test2, y_pred))

Mean Squared Error (MSE): 145622567995.56305
R² Score: 0.7778397792239562

In [36]:
from sklearn.compose import ColumnTransformer

In [50]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
import numpy as np

ct = ColumnTransformer(transformers=[
    ('t1', SimpleImputer(), ['km_driven']),
    ('t2', OrdinalEncoder(categories=[['Diesel', 'Petrol', 'CNG', 'LPG']]), ['fuel']),
    ('t3', OrdinalEncoder(categories=[['Fourth & Above Owner', 'Third Owner', 'Second Owner', 'First Owner', 'Test Drive Car']]), ['owner']),
    ('t4', OneHotEncoder(drop='first', sparse_output=False, dtype=np.int32), ['brand'])
], remainder='passthrough')

In [56]:
ct.fit_transform(x_train).shape

(6502, 34)

In [58]:
ct.transform(x_test).shape

(1626, 34)