In [2]:
import pandas as pd

In [4]:
data=pd.read_csv('deliveries.csv')
data2=pd.read_csv('matches.csv')

In [10]:
data.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [16]:
runs=data.groupby('batsman')

In [26]:
runs['batsman_runs'].sum().sort_values(ascending=False).head()

batsman
SK Raina     4548
V Kohli      4423
RG Sharma    4207
G Gambhir    4132
DA Warner    4014
Name: batsman_runs, dtype: int64

In [28]:
mask=data['batsman_runs']==4
new_data=data[mask] #mask only 4s in runs scored by batsman

In [44]:
new_data.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head() #gives top 5 batsman scoring highest no. of 4s

batsman
G Gambhir    484
SK Raina     402
DA Warner    401
S Dhawan     401
V Kohli      384
Name: batsman_runs, dtype: int64

In [58]:
def maxRunsScoredAgainst(nameofBatsman):
    data[data['batsman']==nameofBatsman]
    return data.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).index[0]

In [60]:
maxRunsScoredAgainst('V Kohli')

'Mumbai Indians'

In [62]:
# isin()
# Find the most destructive death over batsman in the history of IPL
# Strike Rate=(Number of runs/Number of balls)/100
# Min batsman 200 balls in over 16-20
#data_b=data_s.groupby('batsman').count()
#data_r=data_s.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False)

In [126]:
mask2 = (data['over'] >= 16) 
data_s=data[mask2]
data_b=data_s.groupby('batsman')['batsman_runs'].count()
x=data_b>200
data_batsman=data_b[x].index.tolist()

In [128]:
runs=data[data['batsman'].isin(data_batsman)]

In [138]:
total=runs.groupby('batsman')['batsman_runs'].sum()
total_b=runs.groupby('batsman')['batsman_runs'].count()
strike=total/total_b*100
strike.sort_values(ascending=False)

batsman
AB de Villiers      145.129059
YK Pathan           140.751445
KA Pollard          140.621266
DA Warner           138.318401
DA Miller           137.709251
JA Morkel           136.938202
Harbhajan Singh     135.194585
SK Raina            134.995548
MS Dhoni            132.835821
KM Jadhav           130.555556
JP Faulkner         129.802956
SPD Smith           128.507127
RG Sharma           128.497251
WP Saha             127.727646
RV Uthappa          127.635135
V Kohli             126.588437
Yuvraj Singh        126.390244
STR Binny           123.747981
AT Rayudu           123.014257
KD Karthik          123.008475
AR Patel            122.672065
DJ Bravo            122.286822
JP Duminy           121.970624
BJ Hodge            121.422376
AD Mathews          120.868114
DJ Hussey           120.072661
LRPL Taylor         120.070838
RA Jadeja           118.792867
DPMD Jayawardene    118.791064
S Dhawan            118.502496
AM Rahane           117.486549
MK Pandey           116.938453
IK Pathan           116.751269
S Badrinath         115.742972
SS Tiwary           114.851485
NV Ojha             114.528024
MK Tiwary           114.127424
Y Venugopal Rao     113.872832
PP Chawla           110.278373
R Vinay Kumar       106.666667
JH Kallis           105.936272
P Kumar             105.263158
A Mishra             89.005236
Name: batsman_runs, dtype: float64